/* Base button styles */
.nav-button {
    background-color: transparent; /* Transparent background */
    color: #fff;
    font-family: 'Merriweather Sans';
    font-size: medium;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.3s, color 0.3s; /* Transition for background-color and color */
  }
  
  /* Hover effect - white background revealed */
  .nav-button.hovered {
    background-color: rgb(204, 133, 0); /* Translucent white background */
    border-radius: 20px;
    color: #ffffff; /* Change text color on hover */
  }
  